.tb-specs {
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}
.tb-specs tr {
	border-top-style: solid;	
	border-top-color: black;
}
.tb-specs tr, .tb-specs  th, .tb-specs td {
	border-bottom-style: solid;	
}

.right-align-table {
	text-align:right;
}